{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
   <div class="container-fluid">
      <div class="jumbotron" id="home-jumbotron-bg">
          <h1 class="display-4">News archive</h1>
          <p class="lead">This is the archive of news-items</p>
          <hr class="my-4">
          <p>Items are sorted by date, older items at the bottom.</p>
        </div>
  </div>
</div>

<!-- Add searching/filtering functions here later -->

<div class="accordion" id="accordionNews">      
   {% for item in news %}
      <div class="card">
        <div class="card-header" id="heading-{{item.pk}}">
          {% if request.user.is_superuser %}
            <!-- Delete item link. -->
            <a href="{% url 'delete_post' news_id=item.pk %}"><i class="fas fa-trash-alt"></i></a>            
            <!-- Creates a modal for editing posts already submitted. -->
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#edit-post-{{item.pk}}">
              <i class="fas fa-edit"></i>
            </button>
            <!-- Edit post modal. -->
            <div class="modal fade" id="edit-post-{{item.pk}}" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="editModalTitle">Edit news: </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form action="{% url 'edit_post' news_id=item.pk %}" method="POST">
                  <div class="form-group">
                    <div class="modal-body">                      
                          {% csrf_token %}
                          {{form}}                      
                    </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>                        
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          <h2 class="mb-0">
            <button class="btn" type="button" data-toggle="collapse" role="button" data-target="#article-{{item.pk}}" aria-expanded="false " aria-controls="article-{{item.pk}}">
                {{item.title}}  ( {{item.time}} )
              </button>
            </h2>
          </div>
          <div id="article-{{item.pk}}" class="collapse" aria-labelledby="heading-{{item.pk}}" data-parent="#accordionNews">
            <div class="card-body">
              {{item.post}}
              <br>
              <br>
              <h6>Author: {{item.author}}</h6>
              <br>
              <h6>Date: {{item.time}}</h6>
            </div>        
          </div>
        </div>  
    {% endfor%}         
</div>   
{% endblock %}