{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
   <div class="container-fluid">
      <div class="jumbotron" id="home-jumbotron-bg">
          <h1 class="display-4">News archive</h1>
          <p class="lead">This is the archive of news-items</p>
          <hr class="my-4">
          <p>Items are sorted by date, older items at the bottom.</p>
        </div>
  </div>
</div>

<!-- Add searching/filtering functions here later -->

<div class="accordion" id="accordionNews">      
   {% for item in news %}
      <div class="card">
        <div class="card-header" id="heading-{{item.pk}}">
          <h2 class="mb-0">
            <button class="btn" type="button" data-toggle="collapse" role="button" data-target="#article-{{item.pk}}" aria-expanded="false " aria-controls="article-{{item.pk}}">
                {{item.title}}  <span class='text-right'>( {{item.time}} )</span>
              </button>
            </h2>
          </div>
          <div id="article-{{item.pk}}" class="collapse" aria-labelledby="heading-{{item.pk}}" data-parent="#accordionNews">
            <div class="card-body">
              {{item.post}}
              <br>
              <br>
              <h6>Author: {{item.author}}</h6>
              <br>
              <h6>Date: {{item.time}}</h6>
            </div>        
          </div>
        </div>  
    {% endfor%}         
</div>   
{% endblock %}