{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
      <div class="jumbotron jumbotron-fluid" id="home-jumbotron-bg">
          <h1 class="display-4">Bibliomania, the one-stop shop for fiction you love!</h1>
          <p class="lead">"The saddest aspect of life right now is that science fiction gathers knowledge faster than society gathers wisdom." - Isaac Asimov</p>
          <hr class="my-4">
          <a class="btn btn-outline-light btn-lg" href="{% url 'products' %}" role="button">See our full list of books for sale!</a>
        </div>
</div>
<hr>
<div class="container">     
    <h1 class="text-center">Currently featured books!</h1>

</div>
<br>
<div class="container">
<div class="row">
   
   <!-- Uses the jQuery owl-carousel plugin instead of the bootstrap carousel, for better responsiveness. -->
    <div class="owl-carousel owl-theme">
             {% for product in feature %}
             <div class="item">
              <img class="d-block" src="{{product.cover.url}}" alt="{{product.title}}">
              <h5><a href="{% url 'product_info' product.id %}">{{product.title}}</a></h5>
            </div>
             {% endfor %}                       
      </div>
   </div>
</div>
<hr>
<div class="container-fluid">
<div class="row">  
<div class="accordion" id="accordionNews">      
   {% for item in news %}
      <div class="card">
        <div class="card-header" id="heading-{{item.pk}}">
          <h2 class="mb-0">                     
            <button class="btn" type="button" data-toggle="collapse" role="button" data-target="#article-{{item.pk}}" aria-expanded="false " aria-controls="article-{{item.pk}}">
                {{item.title}}  ( {{item.time}} )
            </button>
          </h2>            
            <!-- Adding administration GUI for the news post, if the user is an authenticated admin. -->
            {% if request.user.is_superuser %}
            <div id="admin-gui" class="d-flex align-items-right">
            <!-- Delete item link. -->
            <a href="{% url 'delete_post' news_id=item.pk %}"><i class="fas fa-trash-alt"></i></a>
            
            <!-- Creates a modal for editing posts already submitted. -->
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#edit-post-{{item.pk}}">
              <i class="fas fa-edit"></i>
            </button>
            <!-- Edit post modal. -->
            <div class="modal fade" id="edit-post-{{item.pk}}" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="editModalTitle">Edit news: </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form action="{% url 'edit_post' news_id=item.pk %}" method="POST">
                  <div class="form-group">
                    <div class="modal-body">                      
                          {% csrf_token %}
                          {{form}}                      
                    </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>                        
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
            {% endif %}
          </div>
          <div id="article-{{item.pk}}" class="collapse" aria-labelledby="heading-{{item.pk}}" data-parent="#accordionNews">
            <div class="card-body">
              {{item.post}}
              <br>
              <br>
              <h6>Author: {{item.author}}</h6>
              <br>
              <h6>Date: {{item.time}}</h6>
            </div>        
          </div>
        </div>  
    {% endfor%}         
  </div>  
  </div>   
</div>
{% endblock %}

{% block extra_js %}

<script type="text/javascript">
    $('.toast').toast('show');
    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        responsiveClass:true,
        responsive:{
            0:{
                items:1,
                nav:true
            },
            4:{
                items:2,
                nav:true
            },
            600:{
                items:4,
                nav:false
            },
            1000:{
                items:5,
                nav:true,
                loop:false
            }
        }
    });
  </script>
{% endblock %}