{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
   <div class="container-fluid">
      <div class="jumbotron" id="home-jumbotron-bg">
          <h1 class="display-4">Bibliomania, the one-stop shop for fiction you love!</h1>
          <p class="lead">Here  we'll have some links to products for sale</p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <a class="btn btn-outline-light btn-lg" href="#" role="button">This will link to the products, when there are products!</a>
        </div>
  </div>
</div>

{% if request.user.is_superuser %}
<div class="row">
  <div class="container-fluid text-justify">
    <h2>News administration:</h2>
    <br>
    <a href="#newsPostModal" data-toggle="modal" data-target="#newsPostModal"><i class="fas fa-pen"></i></a>
  </div>
</div>

<div class="modal fade" id="newsPostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newsPostModalLabel">Add News:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form" action="{% url 'add_post' %}" method="POST">
      <div class="modal-body">
          {% csrf_token %}
          {{ form.as_p }}                   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-secondary" data-dismiss="modal" value="Save">
      </div>
    </form> 
  </div>
    
  </div>
</div>

{% endif %}

<div class="accordion" id="accordionNews">      
   {% for item in news %}
      <div class="card">
        <div class="card-header" id="heading-{{item.pk}}">
          <h2 class="mb-0">
            {% if request.user.is_superuser %}
            <a href="{url 'delete_news'}/{{item.pk}}"><i class="fas fa-trash-alt"></i></a>
            {% endif %}
            <button class="btn" type="button" data-toggle="collapse" role="button" data-target="#article-{{item.pk}}" aria-expanded="false " aria-controls="article-{{item.pk}}">
                {{item.title}}  <span class='text-right'>( {{item.time}} )</span>
              </button>
            </h2>
          </div>
          <div id="article-{{item.pk}}" class="collapse" aria-labelledby="heading-{{item.pk}}" data-parent="#accordionNews">
            <div class="card-body">
              {{item.post}}
              <br>
              <br>
              <h6>Author: {{item.author}}</h6>
              <br>
              <h6>Date: {{item.time}}</h6>
            </div>        
          </div>
        </div>  
    {% endfor%}         
</div>   
{% endblock %}