{% extends "base.html" %}
{% load crispy_forms_tags %}    
{% load static %}

{% block content %}

<h1>Welcome back, {{user}}</h1>

<h3>Your profile information: </h3>
<br>
{% csrf_token %}
    
    {{ form.default_phone_number|as_crispy_field}}
    
    {{ form.default_street_address1|as_crispy_field}}
    
    {{ form.default_street_address2|as_crispy_field}}
    
    {{ form.default_town_or_city|as_crispy_field}}
    
    {{ form.default_county|as_crispy_field}}
    
    {{ form.default_postcode|as_crispy_field}}
    
    {{ form.default_country|as_crispy_field}}
<h3>Your orders: </h3>
<br>
{% if orders %}

{% for order in orders %}

{{order}}

{% endfor %}

{% else %}

No orders found!

{% endif %}

{% endblock %}