{% extends "base.html" %}
{% load crispy_forms_tags %}    
{% load static %}

{% block content %}
<div id="profile-bg-img" class="jumbotron animate__animated animate__fadeInRightBig">
    <h1 class="display-4">Welcome back, {{user}}</h1>
    <p class="lead">"A single dream is worth a thousand realities" - J.R.R Tolkien</p>
    <br>
    <p>Here you can revise the information we've saved about your standard shipping details, as well as track past orders!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'products' %}" role="button">Go back to shopping</a>
    </p>
  </div>
<div class="container-fluid">
    <div class="row">
<div class="col-md-6 col-sm-12">
<h3 class="text-center">Your profile information: </h3>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error }}</strong>
        </div>
    {% endfor %}
{% endif %}
<form class="form" method="POST">
{% csrf_token %}
<hr>
<h3 class="text-center">Account information: </h6>
    <div class="row">
        <div class="col">
            {{user_form.username|as_crispy_field}}
        </div>  
        <div class="col">
            {{user_form.first_name|as_crispy_field}}
        </div>  
        <div class="col">
            {{user_form.last_name|as_crispy_field}}
        </div>
        <div class="col">
            {{user_form.email|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="container">
        <button type="submit" class="btn btn-outline-primary">Update profile</button>
        </div>
    </div>
    <hr>
    <h4 class="text-center">Shipping details: </h4>
    <div class="row">
    <div class="col">
    {{ form.default_phone_number|as_crispy_field}}
    </div>
    </div>
    {{ form.default_street_address1|as_crispy_field}}
    {{ form.default_street_address2|as_crispy_field}}
    
    {{ form.default_town_or_city|as_crispy_field}}
    
    {{ form.default_county|as_crispy_field}}
    
    {{ form.default_postcode|as_crispy_field}}
    
    {{ form.default_country|as_crispy_field}}

    <button type="submit" class="btn btn-outline-primary">Update shipping details</button>
</form>
<hr>
</div>

<div class="col-md-6 col-sm-12">
    <h3 class="text-center">Your past orders: </h3>
<hr>
{% if orders %}

{% for order in orders %}

<div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="collapseOrderHeader-{{order.id}}">
        <h2 class="mb-0">
          <button class="btn btn-outline-link" type="button" data-toggle="collapse" data-target="#collapseOrder-{{order.id}}" aria-expanded="true" aria-controls="collapseOne">
            Order-ID: {{order}}  ({{ order.date }})
          </button>
        </h2>
      </div>
  
      <div id="collapseOrder-{{order.id}}" class="collapse {% if forloop.first %} show {% endif %}" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order_item in order.order_items.all %}
                    <tr>
                    <td><a href="{% url 'product_info' order_item.product.id  %}">{{order_item.product.title}} </a></td>
                    <td>{{order_item.quantity}} </td>
                    <td>{{order_item.order_item_total}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                <hr>
                <p>
                    Shipping cost: {{order.delivery_cost}} </p>
                    <br>
                    Grand total: {{order.grand_total}}<br>
                </p>
            </div>
        </div>
      </div>
    </div>

{% endfor %}
{% else %}

No orders found!

{% endif %}
</div>
</div>
</div>
{% endblock %}