{% extends "base.html" %}
{% load static %}
{% block content %}
{% csrf_token %}
{% load crispy_forms_tags %}
<hr>
<div class="row">
  <div class="container">
    <h1 class="text-center">Charts</h1>
    <br>
    <p class="text-center">Use the interface below to visualize data from the store.</p>
  </div>
</div>
<div class="row">
  <div class="container">
    <canvas id="dashboardChart"></canvas>
  </div>
</div>
<br class="footer-separator">
<div class="row">
  <div class="container">
   <h5 class="text-center">Chart products: </h5>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="col-xs-12">
      <label for="upvotes">Upvotes:</label>
      <br>
      <input type="checkbox" name="upvotes" id="upvotesCheck">
      </select>
    </div>
    <div class="col-xs-12">
      <label for="downvotes">Downvotes:</label>
      <br>
      <input type="checkbox" name="downvotes" id="downvotesCheck">
      </select>
    </div>
    <div class="col-xs-12">
      <label for="price">Price:</label>
      <br>
      <input type="checkbox" name="price" id="priceCheck">
      </select>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="container">
    <div class="col">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProductModal">
       Add Product to store
      </button>
    </div>
  </div>
</div>

<!-- Add Product modal -->
<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="POST" enctype="multipart/form-data">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
          {% csrf_token %}      
          {{ form|crispy }}
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add product</button>
      </div>
    </form>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js" integrity="sha512-zO8oeHCxetPn1Hd9PdDleg5Tw1bAaP0YmNvPY8CwcRyUk7d7/+nyElmFrB6f7vg4f7Fv4sui1mcep8RIEShczg==" crossorigin="anonymous">
</script>
<script type="text/javascript" src="{% static 'js/dashboard_charts.js' %}"></script>

{% endblock %}