{% extends "base.html" %}
{% load static %}
{% block content %}
{% csrf_token %}
{% load crispy_forms_tags %}
<hr>

<div class="container-fluid">
  <div class="text-center">
    <h1>Charts</h1>
    <br>
    <p>Use the interface below to visualize data from the store. Check the boxes of data you want to graph, then press the re-draw button. Mousing over bars reveals more details.</p>
  </div>
</div>  
</div>
<br>
<div class="container">  
  <div class="text-center">
    <div class="d-inline-block">
      <div class="row">
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group" role="group" aria-label="Chart controls">
            <button type="button mr-2" class="btn btn-secondary"> <i class="fas fa-backward"></i> Previous Data </button>
            <button type="button" class="btn btn-secondary" id="redrawChartBtn"><i class="fas fa-chart-bar"></i> Redraw Chart</button>
            <button type="button ml-2" class="btn btn-secondary">Next <i class="fas fa-forward"></i></i></button>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="container">
    <canvas id="dashboardChart"></canvas>
  </div>
</div>
<br class="footer-separator">
<div class="row">
  <div class="container-fluid">
   <h5 class="text-center">Chart products: </h5>
  </div>
</div>
<div class="container">  
  <div class="text-center">
    <div class="d-inline-block">
    <div class="row">
      <div class="btn-group btn-group-toggle" data-toggle="button">
        <label class="btn btn-secondary">
        <input type="checkbox" id="upvotesCheck" autocomplete="off"> 
        Upvotes</label>
      <label class="btn btn-secondary">
        <input type="checkbox"id="downvotesCheck" autocomplete="off">
        Downvotes</label>
        <label class="btn btn-secondary">
        <input type="checkbox" id="priceCheck" autocomplete="off">
         Price</label>
      </div>
    </div>
   </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProductModal">
       Add Product to store
      </button>
    </div>
  </div>
</div>

<!-- Add Product modal -->
<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="POST" enctype="multipart/form-data">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
          {% csrf_token %}      
          {{ form|crispy }}
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add product</button>
      </div>
    </form>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js" integrity="sha512-zO8oeHCxetPn1Hd9PdDleg5Tw1bAaP0YmNvPY8CwcRyUk7d7/+nyElmFrB6f7vg4f7Fv4sui1mcep8RIEShczg==" crossorigin="anonymous">
</script>
<script type="text/javascript" src="{% static 'js/dashboard_charts.js' %}"></script>

{% endblock %}