{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
  <div class="container-fluid">
    <h1 class="text-center">Featured books!</h1>
  </div>
</div>
<hr>
<div class="row">
 <div class="container">
   <!-- Uses the jQuery owl-carousel plugin instead of the bootstrap carousel, for better responsiveness. -->
    <div class="owl-carousel owl-theme">
             {% for product in feature %}
             <div class="item">
              <img class="d-block" src="{{product.cover.url}}" alt="{{product.title}}">
              <h5><a href="{% url 'product_info' product.id %}">{{product.title}}</a></h5>
            </div>
             {% endfor %}                       
      </div>
   </div>
</div>
<hr>
<!-- Just an experiment with layout -->
<div class="table-responsive">
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>      
      <th scope="col"><h4 class="text-left">Cover</h4></th>
      <th scope="col"><h4 class="text-center">Title</h4></th>
      <th scope="col"><h4 class="text-center">Series</h4></th>
      <th scope="col"><h4 class="text-center">Author</h4></th>
      <th scope="col"><h4 class="text-center">Genre</h4></th>      
      {% if request.user.is_superuser %}
      <th scope="col"><h4 class="text-center">Edit</h4></th>      
      <th scope="col"><h4 class="text-center">Delete</h4></th>      
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <th scope="row"><a href="{% url 'product_info' product.id  %}"><img class="img-thumbnail rounded float-left" src="{{product.cover.url}}" alt="{{product.title}}"></a></th>
      <td><h4 class="text-center"><a href="{% url 'product_info' product.id  %}">{{product.title}}</a></h4></td>
      <td><h4 class="text-center">{{product.series}}</h4></td>
      <td><h4 class="text-center">{{product.author}}</h4></td>
      <td><h4 class="text-center">{{product.genre}}</h4></td>
      {% if request.user.is_superuser %}      
      <td scope="col"><h4 class="text-center"><a href="{% url 'edit_product' product_id=product.id %}"><i class="fas fa-edit"></i></a></h4></td>      
      <td scope="col"><h4 class="text-center"><a href="{% url 'delete_product' product_id=product.id %}"><i class="fas fa-trash-alt"></i></a></h4></td>      
      {% endif %}
    </tr>
    {% endfor %}   
  </tbody>
</table>
{% endblock %}

{% block extra_js %}

<script type="text/javascript">
    $('.toast').toast('show');
    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        responsiveClass:true,
        responsive:{
            0:{
                items:1,
                nav:true
            },
            4:{
                items:2,
                nav:true
            },
            600:{
                items:4,
                nav:false
            },
            1000:{
                items:5,
                nav:true,
                loop:false
            }
        }
    });
  </script>
{% endblock %}