{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% csrf_token %}
<input type="hidden" name="item_pk" value="{{product.id}}">
<hr>
<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col">
    <h1 class="text-center">{{ product.title }}</h1> 
    </div>
    <div class="col">
    <form class="form-inline" method="POST" action="{% url 'add_to_bag' product_id=product.id %}">
      {% csrf_token %}
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Quantity</div>
        </div>
      <input type="number" value="1" name="quantity" min="1" class="form-control">
      <input type="hidden" name="redirect_url"  value="{{ request.path }}">    
      <button class="btn btn-outline-primary ml-4" type="submit">Add to bag!</button>
      </div>
    </form>
  </div>
  </div>
</div>
<br>
{% if series %}
        <div class="row no-gutters">
          <div class="container">
            <h3 class="text-center">Other books in the same series...</h3>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="container">
            <!-- Uses the jQuery owl-carousel plugin instead of the bootstrap carousel, for better responsiveness. -->
            <div class="owl-carousel owl-theme">
                      {% for product in series %}
                      <div class="item">
                      <img class="img-thumbnail" src="{{product.cover.url}}" alt="{{product.title}}">
                      <h5><a href="{% url 'product_info' product.id %}">{{product.title}}</a></h5>
                    </div>
                      {% endfor %}                       
              </div>
            </div>
        </div>
        <hr>
        {% endif %}
{% if request.user.is_superuser %}
<hr>
<div class="row no-gutters">
  <div class="container-fluid">
    <h3 class="text-center">Administrative tools for product: {{ product.title }} (<a href="{% url 'edit_product' pk=product.id %}"><i class="fas fa-edit"></i></a>  <a href="{% url 'delete_product' product_id=product.id %}"><i class="fas fa-trash-alt"></i></a>)</h3>
  </div>    
</div>
{% endif %}
<hr>
<div class="container-fluid">
  <div class="row">  
    <div class="col-xs-12 col-sm-6">        
      <div class="product-desc-wrapper">
        <img class="img-thumbnail rounded float-left" src="{{product.cover.url}}" alt="Cover">  
        <h4 class="text-center"> Summary: </h4>
        <br>
        <p>{{product.description}}</p>
        <hr>
        <h5 class="text-center">Written by: {{product.author.name}}</h5>
        <br>
        <p>{{product.author.summary}}</p>
        <hr>
        <h5 class="text-center">Part of the series: {{product.series.title}}</h5>
        <br>  
        <p>{{product.series.summary}}</p>
      </div>
    </div>  
    <div class="col-xs-12 col-sm-6"> 
        <h4 class="text-center">Customer reviews: </h4>
        <div class="d-flex justify-content-center">
        <div class="chart-container" style="position: relative; height: 90%; width:90%">
          </div>
        <canvas id="reviewChart"></canvas>
        </div>
        <div class="row no-gutters">
          <div class="container-fluid">
            <br class="footer-separator">
          </div>
        </div>
        {% if reviews %} 
        <div id="last-comment" class="text-center">
          <h4>Comment by: {{reviews.0.reviewer}}</h4>
          <h5>Comment: {{reviews.0.comment}}</h5>
          <a data-toggle="modal" href="#reviewModal">Click here to view all comments</a>
          <br>
          <a data-toggle="modal" href="#addReviewModal">Click here to add your own comments!</a>          
        </div>
      {% else %}
        <span class="text-center"><p >No reviews with comments exist yet!  Why not <a data-toggle="modal" href="#addReviewModal">click here</a> and add one?</p></span>
      {% endif%}
      <!-- Modal for all reviews -->
      <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">All reviews for {{product.title}}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {% for item in reviews %}
              <h4>Comment by: {{item.reviewer}}</h4>
              <h5>Comment: {{item.comment}}</h5>
              <hr>
              {% endfor %}            
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="row no-gutters">
  <div class="container-fluid">
    <hr class="footer-separator">
  </div>
</div>
<div class="modal fade" id="addReviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <form method="POST" class="form">
      {% csrf_token %}
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Reviewing: {{product.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      {{form|crispy}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit review</button>
      </div>
    </div>
  </form>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<!-- Setup for plugins, OwlCarousel, Charts.JS etc with conditional rendering for reviews. -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js" integrity="sha512-zO8oeHCxetPn1Hd9PdDleg5Tw1bAaP0YmNvPY8CwcRyUk7d7/+nyElmFrB6f7vg4f7Fv4sui1mcep8RIEShczg==" crossorigin="anonymous"></script>

<script type="text/javascript">
    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        responsiveClass:true,
        responsive:{
            0:{
                items:1,
                nav:true
            },
            4:{
                items:2,
                nav:true
            },
            600:{
                items:4,
                nav:true
            },
            1000:{
                items: 5,
                nav:true,
                loop:true
            }
        }
    });
  </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js" integrity="sha512-zO8oeHCxetPn1Hd9PdDleg5Tw1bAaP0YmNvPY8CwcRyUk7d7/+nyElmFrB6f7vg4f7Fv4sui1mcep8RIEShczg==" crossorigin="anonymous">
</script>
<script type="text/javascript" src="{% static 'js/plugins/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'js/product_review.js' %}"></script>

{% endblock %}