{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row no-gutters">
  <div class="container-fluid">
    <h1 class="text-center">{{ product.title }}</h1>
  </div>
</div>
<br>
{% if request.user.is_superuser %}
<hr>
<div class="row no-gutters">
  <div class="container-fluid">
    <h3 class="text-center">Administrative tools for product: {{ product.title }} (<a href="{% url 'edit_product' pk=product.id %}"><i class="fas fa-edit"></i></a>  <a href="{% url 'delete_product' product_id=product.id %}"><i class="fas fa-trash-alt"></i></a>)</h3>
  </div>    
</div>
<hr>          
{% endif %}
<hr>
<div class="container-fluid">
  <div class="row no-gutters">  
    <div class="col-xs-12 col-sm-6">
      <div class="img-wrap-floater">
        <img class="img-fluid rounded float-left img-cover" src="{{product.cover.url}}" alt="Cover">      
      </div>
      <div class="product-desc-wrapper">
        <h4 class="text-center"> Summary: </h4>
        <br>
        <p>{{product.description}}</p>
        <hr>
        <form class="form" method="POST" action="{% url 'add_to_bag' product_id=product.id %}">
          {% csrf_token %}
          <label for="quantity">Quantity: </label>
          <input type="number" value="1" name="quantity" min="1">
          <input type="hidden" name="redirect_url"  value="{{ request.path }}">
          <br>
          <br>
          <button class="btn btn-primary" type="submit">Add to bag!</button>
        </form>
      </div>
    </div>
      <div class="col-xs-12 col-sm-6"> 
        <h4 class="text-center">Customer reviews: </h4>
        <div class="chart-container" style="position: relative; height:70%; width:70%">
        <canvas id="reviewChart"></canvas>
        </div>
        <div class="row no-gutters">
          <div class="container-fluid">
            <br class="footer-separator">
          </div>
        </div>
        {% if reviews %} 
        <div id="last-comment" class="text-center">
          <h4>Comment by: {{reviews.0.reviewer}}</h4>
          <h5>Comment: {{reviews.0.comment}}</h5>
          <a data-toggle="modal" href="#reviewModal">Click here to view all comments</a>
        </div>
        <!-- Modal for all reviews -->
        <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {% for item in reviews %}
                <hr>
                <h4>Comment by: {{item.reviewer}}</h4>
                <h5>Comment: {{item.comment}}</h5>
                <hr>
                {% endfor %}
              
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% else %}
        <span><h2 class="text-center">No reviews with comments exist yet!  Why not <a data-toggle="modal" href="#review-modal">click here</a> and add one?</h2></span>
      {% endif%}
    </div>
  </div>
</div>
<div class="row no-gutters">
  <div class="container-fluid">
    <hr class="footer-separator">
  </div>
</div>
{% if series %}
<div class="row no-gutters">
  <div class="container">
    <h3 class="text-center">Other books in the same series...</h3>
  </div>
</div>
<div class="row no-gutters">
  <div class="container">
    <!-- Uses the jQuery owl-carousel plugin instead of the bootstrap carousel, for better responsiveness. -->
     <div class="owl-carousel owl-theme">
              {% for product in series %}
              <div class="item">
               <img class="d-block img-fluid" src="{{product.cover.url}}" alt="{{product.title}}">
               <h5><a href="{% url 'product_info' product.id %}">{{product.title}}</a></h5>
             </div>
              {% endfor %}                       
       </div>
    </div>
</div>
<hr>
 {% endif %}
 <div class="modal fade" id="review-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Review product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST">
      <div class="modal-body">        
          <div class="form-group">
            {% csrf_token %}
            {{form|crispy}}         
          </div>
      </div>
      <div class="modal-footer">
        {% if request.user.is_anonymous %}
        <a class="btn btn-warning" href="{% url 'account_login' %}">Log in to review</a>
        {% else %}
        <button type="submit" class="btn btn-primary">Add review</button>
        {% endif %}              
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<!-- Setup for plugins, OwlCarousel, Charts.JS etc with conditional rendering for reviews. -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js" integrity="sha512-zO8oeHCxetPn1Hd9PdDleg5Tw1bAaP0YmNvPY8CwcRyUk7d7/+nyElmFrB6f7vg4f7Fv4sui1mcep8RIEShczg==" crossorigin="anonymous"></script>
<script type="text/javascript">
  let ctx = document.getElementById("reviewChart")
  let productChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ['Positive', 'Negative'],
      datasets: [{
        label: 'Positive and Negative votes',
        data: [{{product.upvote}}, {{product.downvote}}],
        backgroundColor: [
            'rgba(0, 214, 57, 0.2)',
            'rgba(240, 14, 14, 0.2)'],
        borderColor: [
            'rgba(47, 74, 58, 1)',
            'rgba(255, 94, 94, 1)'],
        borderWidth: 1
        }]
    },
    options: {
      responsive: true,
      cutoutPercentage: 25
  }
  });
</script>

<script type="text/javascript">
    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        responsiveClass:true,
        responsive:{
            0:{
                items:1,
                nav:true
            },
            4:{
                items:2,
                nav:true
            },
            600:{
                items:4,
                nav:true
            },
            1000:{
                items: 5,
                nav:true,
                loop:true
            }
        }
    });
  </script>
{% endblock %}