/* Font imports, Cinzel for headers and 'Crimson Text' for other text */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;900&family=Crimson+Text:ital@0;1&display=swap');

/* REM standard setup */

html{
    font-size: 12px;
}


/* Global styles */
h1, h2, h3, h4, h5, h6{
    font-family: 'Cinzel', serif;
}

a, p{
    color: #000000;
    font-family: 'Crimson Text', serif;
}

#home-jumbotron-bg{
    margin-top: 60px;
    color: #ffffff;
    background: url('../img/bookstore-jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px
}

#home-jumbotron-bg p{
    color: #ffffff;
}

footer{
    margin-top: 5rem;
    font-size: 1rem;
    left: 0;
    bottom: 0;
    height: 4vh;
    width: 100%;
    position: fixed;
}
footer p{
    padding-top: 1.5rem;
}

/* Style rules for the product-info pages*/

.img-wrap-floater{
    float: left;
    margin-right: 15px;
}

.product-desc-wrapper{
 font-size: 1.25rem;
 padding: 5px;
}

/* Bootstrap toast styles ( https://getbootstrap.com/docs/4.3/components/toasts/ ), will customize further as I go along */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

tr {
    line-height: 120px;
    min-height: 120px;
    height: 120px;
 }
 .img-thumbnail{
    line-height: 120px;
    min-height: 120px;
    height: 120px;
 }

