/* Font imports, Cinzel for headers and 'Crimson Text' for other text */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;900&family=Crimson+Text:ital@0;1&display=swap');

/* REM standard setup */

html{
    font-size: 12px;
}


/* Global styles */
h1, h2, h3, h4, h5, h6{
    font-family: 'Cinzel', serif;
}

a, p{
    color: #000000;
    font-family: 'Crimson Text', serif;
}

#home-jumbotron-bg{
    margin-top: 60px;
    color: #ffffff;
    background: url('../img/bookstore-jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px
}

#home-jumbotron-bg p{
    color: #ffffff;
}

.footer-separator{
    padding-bottom: 4vh;
}

footer{
    margin-top: 5rem;
    font-size: 1rem;
    left: 0;
    bottom: 0;
    height: 4vh;
    width: 100%;
    position: fixed;
}
footer p{
    padding-top: 1.5rem;
}


/* Style rules for the product pages*/

.img-wrap-floater{
    float: left;
    margin-right: 15px;
}

.product-desc-wrapper{
 font-size: 1.25rem;
 padding: 5px;
}

/* Various styles for admin-interface dropdowns. */

.admin-dropdown {
    position: relative;
    display: inline-block;
  }

.admin-dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.admin-dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.admin-dropdownContent a:hover {
    background-color: #f1f1f1;
}

.admin-dropdown:hover .admin-dropdownContent {
    display: block;
  }
  
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}



/* Bootstrap toast styles ( https://getbootstrap.com/docs/4.3/components/toasts/ ), will customize further as I go along */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

tr {
    line-height: 120px;
    min-height: 120px;
    height: 120px;
 }
 .img-thumbnail{
    line-height: 120px;
    min-height: 120px;
    height: 120px;
 }

 .img-cover{
     max-height: 500px !important;
 }
 .card-body, .card-header, .card-text{
     color: #000000 !important;
 }

 #jumbotron-newscard{
     float: right;
     top: 0;
     right: 0;
     min-height: 90%;
 }

/* Overrides for product paginator colours */

 #product-paginator{
     
 }