{% extends "base.html" %} {% load static %} 
{% load crispy_forms_tags %} 
{% block content %}
<div class="row">
  <div class="container">  
    <hr>
    <h1 class="text-center">Your order with ID: {{order.order_number}} has been submitted!</h1><br>
    <p class="text-center">Your order summary is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
    <hr>
  </div>
</div>
<div class="row">
  <div class="container-fluid">
      <div class="col-md-4" id="order-summary">
          <small class="text-muted">Order details: {{order.order_number}}: </small><br>

      </div>
      <div class="col-md-4" id="delivery-summary">
        <small class="text-muted">Deliver to: </small><br>
      </div>
      <div class="col-md-4" id="billing-summary">
        <small class="text-muted">Billing-details: </small><br>
        <h5 class="text-left">Delivery: ${{ delivery }}</h5><br>
        <h5 class="text-left font-weight-bold">Grand total: ${{ grand_total }}</h5><br>
      </div>
    </div>
</div>
{% endblock %}