{% extends "base.html" %} {% load static %} 
{% load crispy_forms_tags %} 
{% block extra_css %}
    <!-- CSS for checkout app -->
    <link rel="stylesheet" href="{% static '/checkout/css/checkout.css' %}" />
    {% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
  <div class="row"></div>
    <hr />
    <h1 class="text-center">Checkout:</h1>
    <br>
    <p class="text-center font-italic">Please read through the summary below, fill in your delivery details and a valid credit or debit card. Our secure checkout system uses Stripe payment. If you run into problems, please click the envelope (<a href="#" data-toggle="modal" data-target="#support-modal"><i class="fas fa-envelope-open-text"></i></a>) to send a message to our support staff!</p>
    <hr />

    <!-- Support contact form. -->
    <div class="modal fade" id="support-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Ran into trouble? Let us know!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <!-- TODO : Add contact form inside this modal -->
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send email</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Summary based on the bag-app bag.html -->
<!-- A conditional that is highly unlikely to ever trigger, but this handler is just in case as we do not want anyone to try to checkout with an empty bag. -->
{% if item_contents %}
<div class="row">
  <div class="container">
    <h3 class="text-center">Order summary:</h3>
    <br />
    
    <hr>
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        <thead>
          <tr>
            <th scope="col"><h4 class="text-left">Cover</h4></th>
            <th scope="col"><h4 class="text-center">Title</h4></th>
            <th scope="col"><h4 class="text-center">Quantity</h4></th>
            <th scope="col"><h4 class="text-center">Remove</h4></th>
            <th scope="col"><h4 class="text-center">Price</h4></th>
          </tr>
        </thead>
        <tbody>
          {% for item in item_contents %}
          <tr>
            <th scope="row">
              <img
                src="{{ item.product.cover.url }}"
                class="img-thumbnail img-fluid rounded text-left"
              />
            </th>
            <td>
              <a href="{% url 'product_info' product_id=item.product.id%}"
                ><h6 class="text-center">{{ item.product.title }}</h6></a
              >
            </td>
            <td>
              <h6 class="text-center">
                <input
                  type="number"
                  value="{{ item.quantity }}"
                  class="form-control form-control-sm"
                />
              </h6>
            </td>
            <form
              method="POST"
              action="{% url 'remove_from_bag' product_id=item.product.id %}"
            >
              {% csrf_token %}
              <td>
                <h6 class="text-center">
                  <button class="btn btn-link" type="submit">
                    <i class="fas fa-minus"></i>
                  </button>
                </h6>
              </td>
              <input
                type="hidden"
                name="redirect_url"
                value="{{ request.path }}"
              />
            </form>
            <td><h6 class="text-center">${{ item.product.price }}</h6></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br />
    </div>
    <hr>
  </div>
</div>
<div class="row">
      <div class="container">
        <h5 class="text-left">Total items: {{product_counter}}</h5>
        <br />
        <h5 class="text-left">Cost: ${{ total }}</h5>
        <br />
        <h5 class="text-left">Delivery: ${{ delivery }}</h5>
        <hr />
        <h5 class="text-left font-weight-bold">Grand total: ${{ grand_total }}</h5>
        <br />
  </div>
</div>
<div class="row">
  <div class="container">
    <hr>
    <h3 class="text-center">Order information:</h3>
    <br />
    <form action="{% url 'checkout' %}" method="POST" id="payment-form">
      {% csrf_token %}
    {{ form|crispy }}
    <label for="save_info">Yes, please save my details to my profile!</label>
    <br>
    <input name="save_info" type="checkbox">
    <br>
    <label>Payment details:</label><br>

    <!-- STRIPE containers -->
    <fieldset class="px-3">
    <div id="card-element">    
    </div>
    <div id="card-errors">
    </div>
    <input type="hidden" value="{{ client_secret }}" name="client_secret">    
    <br>
    <p class="text-center font-italic">Upon submitting your order, your card will be charged ${{ grand_total }}</p>
    <br>
    </fieldset>
    <button class="btn btn-success" type="submit">Submit order</button>
    </form>
  </div>
</div>




</div>
{% else %}
<h1 class="text-center"><a href="{% url 'products' %}">Your bag is empty! Click here to return to the products list.</a></h1>
{% endif %}


<!-- A wrapper for disabling input while stripe is awaiting a response -->
<div id="loading-overlay-div">
  <h1 class="text-light logo-font loading-spinner text-center">
    <span class="icon">
      <i class="fas fa-3x fa-sync-alt fa-spin"></i>
      <br>
      <h1>Processing your order, do not reload the page...</h1>
    </span>
  </h1>
</div>
{% endblock %}

<!-- Init Stripe in here -->
{% block extra_js %}

  {{ block.super }}
  {{ stripe_public_key|json_script:"id_stripe_public_key" }}
  {{ client_secret|json_script:"id_client_secret" }}
  <script src="{% static 'checkout/js/stripe_content.js' %}"></script>

{% endblock %}