@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300&display=swap');

/* Compile into a style.css to import into the base template, to include all imports such as bootstrap, owlcarousel etc 
together with the customization. */

$main-txt: 'Roboto', sans-serif;
$logo-txt: 'Dancing Script', cursive;
$primary: #0073e6;
$secondary: #4da6ff;
$light: #99ccff;

$theme-colors: (
  "primary": #0073e6,
  "danger": #4da6ff,
);

html {
    font-size: 62.5%;
}

body {
    font-family: $main-txt;
    font-size: 1.5rem;
    a {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.5rem;
    }
    button{
        font-size: 1.5rem;
    }
}

#footer{
    p {
    font-size: 1rem;
    }
    a{
        font-size: 1rem;
    }
}
.jumbotron{
    font-family: $logo-txt;
}
#profile-bg-img{
    margin-top: 40px;
    color: #ffffff;
    background: url('../img/profile_jumbotron_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#home-jumbotron-bg{
    margin-top: 40px;
    color: #ffffff;
    background: url('../img/bookstore-jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;    
    height: 35vh;

}
#products-jumbotron-bg{
        margin-top: 40px;
        color: #ffffff;
        background: url('../img/products_jumbotron_img.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        form{
            font-family: $main-txt;
        }
}

#jumbotron-bg-shoppingbag{
    margin-top: 40px;
    color: #ffffff;
    font-size: 2.5rem;
    height: 40vh;
    background: url('../img/shopping_bag_empty_jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    a{
        color: #fff;
    }
}

#home-jumbotron-bg p{
    color: #ffffff;
}

.footer-separator{
    padding-top: 2vh;
    padding-bottom: 4vh;
}

footer{
    margin-top: 5rem;
    font-size: 1rem;
    left: 0;
    bottom: 0;
    height: 4vh;
    width: 100%;
    position: fixed;
    p{
        padding: 1.5rem;
    }
}

/* Style rules for the product pages*/

.img-wrap-floater{
    float: left;
    margin-right: 15px;
}

.product-desc-wrapper{
 font-size: 1.25rem;
 padding: 5px;
}

/* Various styles for admin-interface dropdowns. */

.admin-dropdown{
    position: relative;
    display: inline-block;

    .admin-dropdownContent {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 140px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: auto;
        z-index: 1;
        }
        a {
         color: $primary;           
         padding: 1rem;
         text-decoration: none;
         display: block;
        }
        &:hover{
            .admin-dropdownContent{
                display: block;

            }
        }
}

.navbar{
    .navbar-brand{
        font-family: $logo-txt;
        font-size: 2.0rem;
    }

}

.img-thumbnail{
    max-height: 280px !important;
    width: auto !important;
}

/* Fixed height on owl-carousel wrappers */

.item{
    height: 300px !important;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
    font-size: 1.30rem;
}


.owl-carousel .owl-item{
    height:100%;
    width:auto;
    .item img {
        display:block;
        width:auto;
        height:100%;
        margin:0;
      }
}

img { 
    tr{
    display: block; 
    height: 100%; 
    width: auto; 
    }
}
td {
    font-size: 1.5rem;
}

/* We import at the end of the SCSS file, to override the themed-colours of bootstrap. */

@import './imports';

.btn-primary {
    @include button-variant($primary, darken($primary, 7.5%), darken($primary, 10%), lighten($primary,5%), lighten($primary, 10%), darken($primary,30%));
}