{% load crispy_forms_tags %}
<div class="footer-separator"></div>
<!-- The above dive exists to provide some clearance for the sticky footer. -->
<footer class="bg-light mt-auto">
    <div class="justify-content-center text-wrap">
    <strong><p class="text-center">Copyright 2020 Patrik Schöön-Axelsson. This site is a tech-demo. All books and cover-art referenced are the property of their owner. If you are the copyright owner of any item or image referenced on this page and wish it removed, please click <a data-toggle="modal" href="#mailerModal">here</a> to submit a takedown-request.</p></strong>
    </div>
</footer>
<div class="modal fade" id="mailerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Email us!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="form" method="POST" action="{% url 'contact_mailer' %}"> 
        <div class="modal-body">
          {% csrf_token %}
          {{mail_form|crispy}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Send email</button>
        </div>
        </form>
      </div>
    </div>
  </div>